{% extends 'iffley_app/layouts/main.html' %}

{% block title %}
Circuits
{% endblock title %}
{%block content%}
<hr>
<div class = "container">
    <p>According to Steve Broadbent, circuits were initially a selection of problems that people were using to warm up before working on harder projects.</p> 
    <p>The goal is to try and climb all problems of a circuit in a single session and some people even go as far as to try and complete them as fast as possible, known as speed circuiting!</p>
    <p>Where known, I have included the current speed records from the Iffley Guidebook.</p>
</div>
<hr>
<div class = "container">
{%for key, values in circuits.items %}


    <div class = "row">
        <div class = "col-md-12">
            <center><h3><b>{{key}}</b></h3></center>
        </div>
    </div>

        <div class = "row">

            <div class = "col-md-12">
                {%if key == "The Freshers Circuit"%}
                    
                    <p>A collection of the walls easiest problems, designed to challenge people who have never climbed before. They require a range of different fundamental techniques to complete, and can be done with  very little strength. 
                        All are short person friendly, and have been climbed in trainers. Those who complete it or find it too easy should move up to <b>The Welcome Circuit</b> then <b>The Purple Circuit</b>.</p>
                    <p>Most of the problems have holds in brackets at the start; these are the starting holds and you can start however you like so long as you only use these holds. If there are no bracketed holds at the start then it is a sit 
                        start; you must start from sitting on the ground and pull onto the wall using any holds in the problem.</p>
                    <p>The last hold is a bonus hold, and the problem is graded excluding this. It is there to provide an extra challenge for those who found the problem too easy.</p>
                    <center><h7><b>Credit: Magnus Cheung</b></h7></center>
                    <br>
                {% endif %}

            </div>

        </div>

    <div class = "record-container">

        <div class = "row">

            <div class = "col-md-4">
            <b>Name</b>
            </div>
        
            <div class = "col-md-1">
            <b>Grade</b>
            </div>

            <div class = "col-md-4">
            <b>Holds</b>
            </div>

        </div>

    </div>

    {%for r in routes %}
        
        {% for value in values %}

            {%if r.name in value%}

            <div class="record-container">

                <div class = "row">
                    <div class = "col-md-4">

                        <a href="{% url 'route_details' r.id %}">
                        <h4 class="record-name">  {{r.name}}  </h4></a>

                    </div>

                    <div class = "col-md-1">

                        {%if r.b_grade.grade != "0"%}
                        {{r.b_grade.grade}}
                        {%endif%}
                        {%if r.tech_grade.grade != "0"%}
                        {{r.tech_grade.grade}}
                        {%endif%}
                        {%if r.furlong_grade.grade != "0"%}
                        {{r.furlong_grade.grade}}
                        {%endif%}
                        {%if r.other_grade != "0"%}
                        {{r.other_grade}}
                        {%endif%}

                    </div>

                    <div class = "col-md-4">

                        {{r.holds_str}}

                    </div>

                </div>

            </div>

            {%endif%}

        {%endfor%}

    {%endfor%}

{% endfor %}
</div>
{%endblock content%}