{% extends 'iffley_app/layouts/main.html' %}

{% block title %}
Routes
{% endblock title %}

{%block content%}

<div class="container">

    <form method="GET", action={% url 'routes'%}>

        <fieldset>

            <div class="form-check">

                {% for choice in form.grades %}

                <label class="form-check-label">
                    {{ choice.tag }} {{ choice.choice_label }}
                </label>

                {% endfor %}

            </div>

            <div class="input-group">

                <input type="text" name="{{searchbar.search.name}}" value= {%if searchbar.search.value == None%} "" {%else%} "{{searchbar.search.value}}" {%endif%} class="form-control" placeholder="Search by route, hold, or grade...">

                <div class="input-group-append">

                    <button class="btn btn-primary" type="submit">Search</button>

                </div>

            </div>

        </fieldset>

    </form>

</div>

<div class="container">
    
    {% for s in sections%}

        <div class="record-container">

            <div class = "row">

                <div class = "col-md-12">
                <center><h3><b>{{s.long_name}}</b></h3></center>
                </div>

            </div>

        </div>

        <div class = "record-container">

            <div class = "row">

                <div class = "col-md-4">
                <b>Name</b>
                </div>
            
                <div class = "col-md-1">
                <b>Grade</b>
                </div>
                
                <div class = "col-md-4">
                <b>Holds</b>
                </div>

            </div>

        </div>

        {% for r in routes%}
            
            {%if r.section.short_name == s.short_name%}

            <div class="record-container">

                <div class = "row">
            
                    <div class = "col-md-4">

                        <a href="{% url 'route_details' r.id %}">
                        <h4 class="record-name">  {{r.name}}  </h4></a>

                    </div>

                    <div class = "col-md-1">

                        {%if r.b_grade.grade != "0"%}
                        {{r.b_grade.grade}}
                        {%endif%}
                        {%if r.tech_grade.grade != "0"%}
                        {{r.tech_grade.grade}}
                        {%endif%}
                        {%if r.furlong_grade.grade != "0"%}
                        {{r.furlong_grade.grade}}
                        {%endif%}
                        {%if r.other_grade != "0"%}
                        {{r.other_grade}}
                        {%endif%}

                    </div>

                    <div class = "col-md-4">

                        {{r.holds_str}}

                    </div>

                </div>

            </div>

            {%endif%}
            
        {%endfor%}

    {%endfor%}

    <div class="record-container">

        <div class = "row">

            <div class = "col-md-12">

                <center><h3><b>Uncategorised</b></h3></center>

            </div>

        </div>

    </div>

    <div class = "record-container">

        <div class = "row">

            <div class = "col-md-4">
            <b>Name</b>
            </div>
        
            <div class = "col-md-1">
            <b>Grade</b>
            </div>

            <div class = "col-md-4">
            <b>Holds</b>
            </div>

        </div>

    </div>
    
    {% for r in routes%}

    {%if r.section.short_name == None %}

    <div class="record-container">

        <div class = "row">
    
            <div class = "col-md-4">

                <a href="{% url 'route_details' r.id %}">
                <h4 class="record-name">  {{r.name}}  </h4></a>

            </div>

            <div class = "col-md-1">

                {%if r.b_grade.grade != "0"%}
                {{r.b_grade.grade}}
                {%endif%}
                {%if r.tech_grade.grade != "0"%}
                {{r.tech_grade.grade}}
                {%endif%}
                {%if r.furlong_grade.grade != "0"%}
                {{r.furlong_grade.grade}}
                {%endif%}
                {%if r.other_grade != "0"%}
                {{r.other_grade}}
                {%endif%}

            </div>

            <div class = "col-md-4">   

                {{r.holds_str}}

            </div>

        </div>

    </div>

    {%endif%}

    {%endfor%}

    </div>
    
</div>

{%endblock content%}